*.class
*.log
*.pyc
sbt/*.jar

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# idea
.idea/
*.iml
.run/**

# Mac
.DS_Store

# emacs
*.*~

# docs
docs/*.html
docs/*.tex
docs/auto/
*-blx.bib
*.bbl
*.blg
*.fdb_latexmk
*.fls
docs/*.xml
*.tex
*.tiff
docs/benchmark/*.html
**/auto/
docs/notes/*_ImplNotes.org
docs/notes/mynotes
snap-oracle-spark
spark-oracle.wiki
jdbc-examples

# tests
sql/src/test/scala/org/apache/spark/sql/oracle/experiments
**/spark-ora-test.properties

# macros/tests
macros/src/test/scala/experiments
macros/src/test/scala/org/apache/spark/sql


# docker
docker/driver
docker/worker
docker/.env

# leveldb
**/metadata_cache/*.log
**/metadata_cache/LOG*

# data files
**/_SUCCESS
**/._SUCCESS.crc
**/.part*.crc
